# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# For local development
pubspec_overrides.yaml
pubspec.lock

# All env files
*.env

# Google && Firebase

# Android
**/google-services.json
**/com_google_firebase_crashlytics_mappingfileid.xml

# iOS && macOS
**/GoogleService-Info.plist
**/firebase_app_id_file.json

# Android App Links
firebase/public/.well-known/assetlinks.json

# Apple Universal Links
firebase/public/.well-known/apple-app-site-association

# FlutterFire CLI for Firebase
lib/firebase_options.dart

# Automated localizations
localazy.json